server {
    listen 80;
    server_name {{DOMAIN}} *.{{DOMAIN}};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{DOMAIN}} *.{{DOMAIN}};

    ssl_certificate /etc/nginx/ssl/{{DOMAIN}}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{DOMAIN}}.key;

    root /var/www/html;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_intercept_errors on;
        fastcgi_pass wordpress:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /.well-known/acme-challenge {
        allow all;
        root /var/www/certbot;
    }
}